<h1 class='avant-garde-header'>#WIP</h1>

<% @groups.each do |group| %>
  <%= content_tag_for :div, group do %>
    <h3 class='avant-garde-header'><%= group.name %></h3>

    <% group.members.each do |member| %>
      <%= content_tag_for :div, member do %>
        <%= image_tag member.avatar(size: 100), class: 'member-image' %>
        <%= member.name %>
        <% member.email.split('@').tap do |name, domain| %>
          <%= link_to "#{name}<span class='member-email-domain'>@#{domain}</span>".html_safe, "mailto:#{member.email}", class: 'member-email' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
