<!DOCTYPE html>
<html>
  <head>
    <title>S'up</title>
    <%= javascript_include_tag "//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    <header class='page-header'>
      <nav>
        <%= link_to "S'UP at #{ENV['COMPANY_NAME'] || 'Artsy'}", :root %>
        <%= link_to 'Member List', members_path %>
        <%= link_to 'Team Navigator', team_index_path %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
