<!DOCTYPE html>
<html>
<head>
  <title>S'up</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1 id="logo">
		<a href="/"><span id="app-name">S'UP</span> at <%= ENV['COMPANY_NAME'] %></a>
	</h1>

<%= yield %>

</body>
</html>
