<% if member.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h3>
    <ul class="error-list">
    <% member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="stacked-form">
  <label class='avant-garde-label' for='member[name]'>Name</label>
  <input type="text" class='bordered-input' name="member[name]" value="<%= member.name %>" placeholder='Your Name'>

  <label class='avant-garde-label' for='member[email]'>Email</label>
  <input type="text" class='bordered-input' name="member[email]" value="<%= member.email %>" placeholder='Your Email'>

  <div class="check-box">
    <label>
      <input name="member[skip_meetings]" type="hidden" value="0">
      <input
        type="checkbox"
        name="member[skip_meetings]"
        value="1"
        <%= member.skip_meetings ? 'checked="checked"' : '' %>>
      Be excluded from S'up meetings
    </label>
  </div>
</div>

<h3 class='avant-garde-header'>Choose up to <%= Member::MAX_GROUPS %> groups that you are a part of, and already have a formal standup with.</h3>

<div class="check-box-container">
  <% Group.all.each do |group| %>
    <div class="check-box">
      <label>
        <input
          type="checkbox"
          name="member[group_ids][]"
          value="<%= group.id %>"
          <%= member.groups.include?(group) ? 'checked="checked"' : '' %>>
        <%= group.name %>
      </label>
    </div>
  <% end %>
</div>

<input
   name="authenticity_token"
   type="hidden"
   value="<%= form_authenticity_token %>">

<%= button_tag 'Save', class: 'black-button button--block' %>
